.login-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
}
.login-form__field {
    margin: 10px 0;
}

.login-form__submit {
    font-size: 1.1em;
    color: #fff;
    display: block;
    border: none;
    padding: 0.7em 0.9em;
    outline: none;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    margin: 10px 0;
    transition: 0.5s ease;
    outline: none;
    cursor: pointer;
    background: #90C842;
}

.login-form__submit:enabled:hover,
.login-form__submit:enabled:focus {
    background: #0287CC;
}

.login-form__submit:enabled:active {
    background: #146fcc;
}

.login-form__submit:disabled {
    opacity: 0.4;
}

.login-form__title {
    text-align: center;
}
