.form-input {
    width: 100%;
}

.form-input__field {
    font-size: 0.82355em;
    color: #B1B1B1;
    display: block;
    border: 2px solid rgba(216, 216, 216, 0.39);
    padding: 0.9em 0.9em;
    outline: none;
    text-align: left;
    -webkit-appearance: none;
    border-radius: 4px;
    width: 100%;
    transition: 0.5s ease;
}
.form-input--error .form-input__field {
    border: 2px solid red;
}

.form-input__field:hover {
    border: 2px solid #0287CC;
    color: #0287CC;
}

.form-input__error {
    margin-top: 6px;
    font-size: 12px;
    color: red;
}